name: Deploy to EC2
 
on:

  push:

    branches:

      - main
 
jobs:

  deploy:

    runs-on: ubuntu-latest
 
    steps:

      - name: Checkout code

        uses: actions/checkout@v4
 
      - name: Setup SSH

        uses: webfactory/ssh-agent@v0.9.0

        with:

          ssh-private-key: ${{ secrets.EC2_SSH_KEY }}
 
      - name: Deploy to EC2

        run: |

          ssh -o StrictHostKeyChecking=no ${{ secrets.EC2_USER }}@${{ secrets.EC2_HOST }} << 'EOF'

            set -e
 
            echo "Going to project directory"

            cd /home/ubuntu/candidate-onbording-interface
 
            echo "Pulling latest code"

            git pull origin main
 
            echo "Installing dependencies"

            npm install
 
            echo "Building app"

            npm run build
 
            echo "Restarting PM2"

            pm2 restart candidate-app
 
            echo "Deployment finished successfully"

          EOF